[Unit]
Description=Caliopen docker stack
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f {{ devtools_dir }}/docker-compose.staging.yml up frontend broker
ExecStop=/usr/local/bin/docker-compose -f  {{ devtools_dir }}/docker-compose.staging.yml stop

[Install]
WantedBy=local.target
