[Unit]
Description=Caliopen docker stack
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose up frontend broker identity_poller
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=local.target
