- name: Update packages
  apt:
    update_cache: yes
    upgrade: yes

- name: Install dependencies
  action: apt pkg={{item}} state=installed
  with_items:
       - git
       - curl
       - facter
       - iptables
       - iptables-persistent
       - nginx
       - fail2ban

- name: enable ipv4 forwarding for docker's communication
  shell: sysctl net.ipv4.conf.all.forwarding=1

- name: change vm.max_map_count for elasticsearch in docker's environment
  shell: sysctl -w vm.max_map_count=262144

- name: make changes to kernel variables permanent
  template: src=sysctl-docker.caliopen.conf dest=/etc/sysctl.d/docker.caliopen.conf

- name: deactivate the default nginx site
  file: path=/etc/nginx/sites-enabled/default state=absent

- name: nginx certificate directory
  file:
    path: /etc/nginx/certs
    state: directory

- name: install ssl certificate and private key
  copy: src={{ item }} dest=/etc/nginx/certs/
  with_items:
    - caliopen.crt
    - caliopen.key

- name: configure nginx
  template: src=nginx.j2 dest=/etc/nginx/sites-enabled/poc
  notify:
      - restart nginx

- name: install docker
  shell: curl -sSL https://get.docker.com/ | sh

- name: install docker-compose
  get_url:
    url: https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x'

- name: chmod docker-compose
  shell: chmod +x /usr/local/bin/docker-compose

- git:
    repo: https://github.com/CaliOpen/Caliopen.git
    force: true
    dest: "{{ install_dir }}"
    version: "{{ caliopen_version }}"

- name: build docker services
  shell: docker-compose build
  args:
    chdir: "{{ devtools_dir }}"

- name: docker up redis cassandra elasticsearch
  shell: docker-compose up -d redis cassandra elasticsearch
  args:
    chdir: "{{ devtools_dir }}"

- name: wait for cassandra's database up
  wait_for:
    host: 0.0.0.0
    port: 9042
    delay: 30

- name: setup storage
  shell: docker-compose run cli setup
  args:
    chdir: "{{ devtools_dir }}"

- name: install caliopen docker stack as a systemd service
  template: src=caliopen-stack.service.j2 dest=/etc/systemd/system/caliopen-stack.service

- name: start full caliopen docker stack
  service: name=caliopen-stack state=started
